@{layout('')}
@{title('SPA example')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//cdn.componentator.com/spa.min@17.css" />
	<script src="//cdn.componentator.com/spa.min@17.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body data-jc="exec,binder">

	<div data-jc="LAZY confirm"></div>
	<div data-jc="LAZY message"></div>
	<div data-jc="loading"></div>
	<div data-jc="clipboard"></div>
	<div data-jc="notify__null__position:top"></div>

	<div class="container">

		<nav>
			<a href="/" class="R">Home</a>
		</nav>

		<div data-jc="part__common.page__if:main;url:/pages/main.html;reload:main/refresh"></div>
	</div>

	<footer class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="center b">URL Shortener by Total.js</div>
			</div>
		</div>
	</footer>

	<script>

		NAV.clientside('.R');

		var common = {};

		ROUTE('/', function() {
			SET('common.page', 'main');
			var query = READPARAMS();
			if (query.notfound) {
				SETTER('message', 'warning', 'No URL found for short link ' + location.host + '/' + query.notfound);
				window.history.replaceState({}, document.title, '/');
			}
		});

	</script>

</body>
</html>
